<a href="https://colab.research.google.com/github/dru-44/PDA/blob/main/Covid_19_dataset_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loading the Open COVID-19 Dataset**

---



This very short notebook showcases how to load the Open COVID-19 datset, including some examples for commonly performed operations.

First, loading the data is very simple with pandas. We can use the CSV master table to download the entire Open COVID-19 dataset in a single step:

First, loading the data is very simple with ***pandas***. We can use the CSV master table to download the entire Open COVID-19 dataset in a single step:

In [1]:
import pandas as pd

In [2]:
# Load CSV data directly from the URL with pandas, the options are needed to prevent
# reading of records with key "NA" (Namibia) as NaN
data = pd.read_csv(
    "https://storage.googleapis.com/covid19-open-data/v2/latest/main.csv",
    keep_default_na=False,
    na_values=[""],
)

In [3]:
# NOTE: We are only downloading the last day of data, but you can download all

# Print a small snippet of the dataset
print(f"The dataset currently contains {len(data)} records, here is a sample:")
data.sample(5)  #sample(5) outputs 5 records.

The dataset currently contains 21411 records, here is a sample:

                key        date  ...  dew_point relative_humidity
10369     IL_D_1773  2020-11-27  ...        NaN               NaN
2436   BR_MG_313130  2020-11-27  ...  17.465278         72.660513
4089   BR_PR_411050  2020-11-27  ...  13.201389         70.098436
1642   BR_GO_520310  2020-11-27  ...  13.293651         38.090165
3113   BR_MT_510685  2020-11-27  ...  13.404762         45.410717

[5 rows x 108 columns]

Looking at country-level data
Some records contain country-level data, in other words, data that is aggregated at the country level. Other records contain region-level data, which are subdivisions of a country; for example, Chinese provinces or USA states. A few regions also report at an even smaller subdivision, i.e. county/municipality level.

To filter only country-level data from the dataset, look for records that have a *aggregation_level == 0* or, alternatively, null value for the *subregion1_code* (or *subregion1_name*) field:

In [4]:
# Look for rows with country level data

countries = data[data.aggregation_level == 0]

# We no longer need the subregion-level columns
countries = countries.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name'])

countries.tail()

      key        date wikidata  ... snowfall  dew_point relative_humidity
21344  YE  2020-11-27     Q805  ...      NaN   3.722222         28.521439
21346  YT  2020-11-27   Q17063  ...      NaN  23.666667         74.265833
21347  ZA  2020-11-27     Q258  ...      NaN  14.129630         61.980737
21409  ZM  2020-11-27     Q953  ...      NaN  15.722222         54.191622
21410  ZW  2020-11-27     Q954  ...      NaN   8.833333         42.961386

[5 rows x 104 columns]

Looking at state/province data
Conversely, to filter state/province data for a specific country, we need to look for records where the aggregation level is **1** (or where the region columns have non-null values). The following snippet extracts data related to Spain's subregions from the dataset:

In [5]:
# Filter records that have the right country code AND a non-null region code
# Same as `data[(data.country_code == 'ES') & ~(data.subregion`_code.isna())]`
spain_regions = data[(data.country_code == 'ES') & (data.aggregation_level == 1)]

# We no longer need the municipality-level columns
spain_regions = spain_regions.drop(columns=['subregion2_code', 'subregion2_name'])

spain_regions.tail()

        key        date wikidata  ... snowfall dew_point relative_humidity
9657  ES_ML  2020-11-27    Q5831  ...      NaN  5.622222         59.505137
9658  ES_NC  2020-11-27    Q4018  ...    10.16  1.882716         74.253882
9659  ES_PV  2020-11-27    Q3995  ...    10.16  1.700000         72.089940
9660  ES_RI  2020-11-27    Q5727  ...    10.16 -0.038889         67.774783
9661  ES_VC  2020-11-27    Q5720  ...    10.16  4.641975         72.098709

[5 rows x 106 columns]

Using the key column
The key column is present in all datasets and is unique for each combination of country, province/state and municipality/county. This way, we can retrieve a specific country or region using a single filter for the data. The key column is built using country_code for country-level data, ${country_code}_${subregion1_code} for province/state level data, and ${country_code}_${subregion1_code}_${subregion2_code} for municipality/county data:

In [8]:
# Filter records for Spain at the country-level
spain_country = data[data.key == 'ES']

# We no longer need the subregion-level columns
spain_country = spain_country.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name'])

spain_country.tail()  #tail outputs last records

     key        date wikidata  ... snowfall dew_point relative_humidity
8264  ES  2020-11-27      Q29  ...    10.16  1.338889         65.161173

[1 rows x 104 columns]

In [9]:
# Filter records for Madrid, one of the subregions of Spain
madrid = data[data.key == 'ES_MD']

madrid.tail()

        key        date wikidata  ... snowfall dew_point relative_humidity
9456  ES_MD  2020-11-27    Q5756  ...    10.16  1.338889         65.161173

[1 rows x 108 columns]

Dataset Subsets

---


The master table can be large and cumbersome depending on your application. If you only need a subset of the data, you can consult each table individually. For example, here's how you would get only epidemiology data for Madrid:

In [10]:
# Load the epidemiology table(Another table)
# Note that all the helper columns such as country code, country name, aggregation level, etc. are present in the
# `index` table; we only have the key here
epi = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v2/epidemiology.csv')

# Filter records for Madrid, one of the subregions of Spain
madrid = epi[epi.key == 'ES_MD']

madrid.tail()

               date    key  ...  total_recovered  total_tested
3566162  2020-11-21  ES_MD  ...              NaN           NaN
3579429  2020-11-22  ES_MD  ...              NaN           NaN
3593225  2020-11-23  ES_MD  ...              NaN           NaN
3606355  2020-11-24  ES_MD  ...              NaN           NaN
3619022  2020-11-25  ES_MD  ...              NaN           NaN

[5 rows x 10 columns]

Data consistency

---


Often, region-level data and country-level data will come from different 
sources. This will lead to numbers not adding up exactly, or even date misalignment (the data for the region may be reported sooner or later than the whole country). However, country- and region- level data will always be self-consistent